@model Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Description</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>IsActive:</b> @Model.IsActive</p>
                <p><b>Price:</b> @Model.Price</p>
            </div><!-- / project-info-box -->

        </div><!-- / column -->

        <div class="col-md-7">
            <img src="@Model.ImageUrl" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b>Category:</b> @Model.Category.CategoryName</p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>